body {
    background-color: #1E1E1E;
}

#average-text {
    color: #f9f6f6;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: "Poppins";
    padding-left: 10px;
}

#bestAverage-text {
    color: #f9f6f6;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: "Poppins";
    padding-left: 10px;
}

#worstAverage-text {
    color: #f9f6f6;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: "Poppins";
    padding-left: 10px;
}

#funFact-text {
    color: #f9f6f6;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: "Poppins";
    padding-left: 10px;
}

#estimated-time {
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
    letter-spacing: 1px;
    color: #f9f6f6;
    font-size: 10px;
    font-family: "Poppins";
    padding-left: 200px;
    font-style: italic;
} 

.div-container {
    display: flex;
    padding: 4px;
    background-color: #252525;
    border-radius: 10px;
    width: 700px;
    margin-bottom: 10px;
}


#get-average-btn {
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
    width: 200px;
    height: 30px;
    border: none;
    background: #e74c3c;
    color: #f9f6f6;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    font-size: 20px;
    border-radius: 5px;
    opacity: 1;
    letter-spacing: 1px;
    box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
    margin-bottom: 10px;
}

  
#get-average-btn:hover {
    opacity: 0.8;
}
  
#get-average-btn:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}

.usernameInput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
}
  
.usernameInput label.text {
    font-size: 0.75rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #1E1E1E;
    width: fit-content;
    font-family: "Poppins";
}
  
.usernameInput input.input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    color: #f9f6f6;
    background: #1E1E1E;
}
  
.passwordInput input.input:focus {
    outline: none;
}

.passwordInput {
    position: relative;
    width: fit-content;
    max-width: 240px;
    margin-left: 20px;
}

.inputContainer {
    display: flex;
    align-items: center;
}

.eyeIcon {
    position: absolute;
    width: 22px;
    right: 10px;
    cursor: pointer;
}

  
.passwordInput label.text {
    font-size: 0.75rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #1E1E1E;
    width: fit-content;
    font-family: "Poppins";
}
  
.passwordInput input.input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    color: #f9f6f6;
    background: #1E1E1E;
}
  
.passwordInput input.input:focus {
    outline: none;
}

.options{
    display: flex;
    margin-bottom: 20px;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
    margin-top: 25px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 1.1em;
    width: 1.1em;
    border-radius: 20px;
    left: 0.13em;
    top: 0.18em;
    background-color: #adb5bd;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #007bff;
    border: 1px solid #007bff;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}
  
input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
}

.headless-switch {
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
    letter-spacing: 1px;
    color: #f9f6f6;
    font-size: 15px;
    font-family: "Poppins";
    margin-top: 24px;
    margin-right: 10px;
    margin-left: 10px;
}